/* Website font */

*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, 'Arial Narrow', Arial, sans-serif, Tahoma, Geneva, Verdana, sans-serif, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, 'Arial Narrow', Arial, sans-serif, Arial, sans-serif;
    box-sizing: border-box;
    max-width: 99.5%;
    margin: auto;
}

body {
    background-image: url("https://images.pexels.com/photos/168452/pexels-photo-168452.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-color: #cccccc;
}

/* Delcared global variables */

:root{
    --sectionheader: 32px;
    --darkgreen: rgb(97, 137, 47);
    --lightgreen: rgb(134, 194, 50);
    --headercolor: rgb(34, 38, 41);
    --grey: rgb(164, 165, 167);
    --whitetext: white;
}

/*Header */

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    margin-top: 1%;
    margin-bottom: 4%;
    text-transform: uppercase;
    border: 2px solid black;
    border-radius: 30px 30px;
    color: var(--lightgreen);
    background-color: var(--headercolor);
}

.brandname {
    display: flex;
    max-width: 50%;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 36px;
}

.navmenu {
    display: flex;
    max-width: 50%;;
    justify-content: center;
    align-items: center;
    height: 100px;
}

    .navmenu ul {
    display: table;
    table-layout: fixed;
}

    .navmenu li {
    display: table-cell;
    width: 110px;
}

    .navmenu a {
    text-decoration: none;
    font-size: 18px;
    color: var(--whitetext);
}

    .navmenu a:hover {
        background-color: rgb(0, 0, 0);
        color: var(--lightgreen);
    }

/* About me content with image */

.aboutme {
    display: flex;
    text-align: center;
    padding: 1%;
    border: 2px solid black;
    border-radius: 30px 30px;
    background-color: var(--headercolor);
}

.myinfo {
    max-width: 40%;;
    justify-content: center;
    align-items: center;
}

    .myinfo h1 {
        font-size: var(--sectionheader);
        text-decoration: underline;
        color: var(--lightgreen);

    }

    .myinfo p {
        font-size: 20px;
        color: var(--whitetext);
    }

.myimage {
    max-width: 40%;;
    justify-content: center;
    align-items: center;
}

/* Main project (largest) */

.projectscontainer1 {
    display:flex;
    align-items: center;
    justify-content: space-around;
}
    .workitem1 {
        flex: 1;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 50px;
    }

    .workitem1 h2 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 75px;
        margin-top: 3%;
        margin-bottom: 3%;
        border: 2px solid black;
        border-radius: 30px 30px;
        background-color: var(--headercolor);
        font-size: var(--sectionheader);
        color: var(--lightgreen);
    }

/* Work display */

.workheader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 75px;
    margin-top: 5px;
    border: 2px solid black;
    border-radius: 30px 30px;
    background-color: var(--headercolor);
}
    .workheader h1 {
            display: flex;
            font-size: var(--sectionheader);
            color: var(--lightgreen);
            text-shadow: 1.5px 1.5px black;
            text-transform: uppercase;
    }

/* Work Section */

.work h2 {
    color: var(--lightgreen);
    margin: 10px;
    font-size: 28px;
}

.work img {
    padding: 40px;
}

.workitem2,.workitem3,.workitem4,.workitem5 {
    border: 2px solid black;
    border-radius: 30px 30px;
    background-color: var(--headercolor);
}

/* Second container of projects (pair) */

.projectscontainer2 {
    display:flex;
    align-items: center;
    justify-content: space-around;
}
    .workitem2,.workitem3 {
        flex: 1 1;
        margin: 20px;
        border: 2px solid black;
        text-align: center;
    }

/* Third container of projects (pair) */

.projectscontainer3 {
    display:flex;
    align-items: center;
    justify-content: space-around;
}
    .workitem4,.workitem5 {
        flex: 1 1;
        margin: 20px;
        border: 2px solid black;
        text-align: center;
    }

/* Contact Information */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 75px;
    margin-top: 50px;
    border: 2px solid black;
    border-radius: 30px 30px;
    background-color: var(--headercolor);
}

    .contactheader h1 {
        flex-wrap: nowrap;
        font-size: var(--sectionheader);
        color: var(--lightgreen);
        text-transform: uppercase;
    }

    .contactme {
        display: table;
        width: 30%;
    }

    .email, .linkedin, .github {
        display: table-cell;
        font-size: 24px;
        color: var(--whitetext)
    }

    .email a:hover, .linkedin a:hover, .github a:hover {
        background-color: rgb(0, 0, 0);
        color: var(--lightgreen);
    }

    .email a, .linkedin a, .github a {
        text-align: center;
        text-decoration: none;
        font-size: 24px;
        color: var(--whitetext)
    }


/* Media queries for responsive design */

@media only screen and (max-width: 800px) {
    div.brandname {
      font-size: 30px;
    }
}

@media only screen and (max-width: 620px) {
    div.brandname {
      font-size: 24px;
    }
}

@media only screen and (max-width: 450px) {
    div.brandname {
      font-size: 14px;
    }
}


@media only screen and (max-width: 800px) {
    div.navmenu a {
      font-size: 18px;
    }
}

@media only screen and (max-width: 620px) {
    div.navmenu a {
      font-size: 16px;
    }
}

@media only screen and (max-width: 500px) {
    div.navmenu a {
      font-size: 12px;
    }
}

@media only screen and (max-width: 750px) {
    section.aboutme {
        display: inline-block;
        font-size: 18px;
    }
}

@media only screen and (max-width: 620px) {
    section.aboutme p {
        font-size: 16px;
    }
}

@media only screen and (max-width: 500px) {
    section.aboutme p {
        font-size: 14px;
    }
}

@media only screen and (max-width: 750px) {
    section.aboutme h1 {
        margin-top: 15%;
    }
}